@keyframes rocket-rot {
  0% {
    transform: rotate(360deg) translateX(20vh) scale(75%);
    filter: drop-shadow(-50px 5px 10px #000000);
  }
  50% {
    transform: rotate(180deg) translateX(20vh) scale(75%);
    filter: drop-shadow(-50px 5px 10px #000000);
  }
  75% {
    transform: rotate(90deg) translateX(20vh) scale(50%);
    filter: drop-shadow(0px 5px 10px #000000);
  }
  100% {
    transform: rotate(0deg) translateX(20vh) scale(75%);
    filter: drop-shadow(-50px 5px 10px #000000);
  }
}
@keyframes planet-rot {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(-360deg);
  }
}
@keyframes background-stars {
  0% {
    background-position-x: 0vw;
  }
  99% {
    background-position-x: 99vw;
  }
  99.5% {
    background-position-x: 99.5vw;
  }
  100% {
    background-position-x: 100vw;
  }
}
@keyframes star-falling {
  0% {
    transform: rotate(45deg) translateX(-100vw);
  }
  100% {
    transform: rotate(45deg) translateX(50vw);
  }
}
@keyframes fadein {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
