@font-face {
    font-family: 'SPACE';
    src: url('.fonts/FasterOne-Regular.ttf');
}

@keyframes rocket-rot {
    0%{
        transform: rotate(360deg) translateX(20vh) scale(75%); filter: drop-shadow(-50px 5px 10px #000000); // Starting point (rightside ->)
    }

    50%{
        transform: rotate(180deg) translateX(20vh) scale(75%); filter: drop-shadow(-50px 5px 10px #000000);
    }

    75%{
        transform: rotate(90deg) translateX(20vh) scale(50%); filter: drop-shadow(0px 5px 10px #000000); // Shrink when at the top of the planet and make the shadow more realistic
    }

    100%{
        transform: rotate(0deg) translateX(20vh) scale(75%); filter: drop-shadow(-50px 5px 10px #000000);
    }
}

@keyframes planet-rot {
    100%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(-360deg);
    }
}

@keyframes background-stars{
    0% {
        background-position-x: 0%;
    }
    99%{
        background-position-x: 99%;
    }
    99.5%{
        background-position-x: 99.5%;
    }
    100%{
        background-position-x: -10%;
    }
}

@keyframes fadein{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

.fade-in{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    animation: fadein 10s;
    animation-fill-mode: forwards;
    z-index: 1000;
    animation-iteration-count: 1;
}

body{
    min-height: 100vh;
    width: 100vw;
    background-image: url('../img/stars.png');
    background-repeat: repeat;
    animation-name: background-stars;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

main{ 
    //background-color: black;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .stars{
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            z-index: 10002;
            &::after{
                content: "★";
                color: white;
            }
        }
    }       
    div.planet {
        animation-name: planet-rot;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        background: url("../img/planet.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 40vw;
        min-height: 40vh;
    }
    div.rocket-container{
        position: absolute;
        transform: rotate(360deg) scaleY(-1);
        img{
            animation: rocket-rot 10s linear infinite;
            //animation-direction: reverse; <-- Not needed because scaleY(-1) is already reversing
            transform: rotate(360deg) translateX(20vh);
            filter: drop-shadow(-73px 5px 10px #000000);
        }
    }
}