@import "./animations.css"; // Make the css shorter by splitting it

@font-face {
    font-family: 'SPACE';
    src: url('../fonts/FasterOne-Regular.ttf');
}

:root{
    --planet-width: 40vw;
    --planet-height: 40vh;
    --rotation-progress: 90deg;
    --letter-color: #d25605;
}
.fade-in{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    animation: fadein 10s;
    animation-fill-mode: forwards;
    z-index: 1000;
    animation-iteration-count: 1;
}

body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/stars.png');
    background-repeat: repeat;
    animation-name: background-stars;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.star{
    max-height: max-content;
    max-width: max-content;
    //background-color: red; // <-- For debugging purposes
    margin-left: 0;
}

section.stars{
    top: -35vh;
    height: 175%;
    animation-name: star-falling;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    flex-wrap: wrap;
    z-index: 1;
    article{
        display: flex;
        flex-direction: row;
    }
    div{
        width: 20px;
        height: 20px;
        content: "★";
        color: white;
    }
} 
main{ 
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;      
    div.planet {
        animation-name: planet-rot;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        background: url("../img/planet.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-width: var(--planet-width);
        min-height: var(--planet-height);
    }
    div.rocket-container{
        position: absolute;
        transform: rotate(360deg) scaleY(-1);
        img{
            animation: rocket-rot 10s linear infinite;
            //animation-direction: reverse; <-- Not needed because scaleY(-1) is already reversing
            transform: rotate(360deg) translateX(20vh); // Not really necessary because the animation will do it
            filter: drop-shadow(-73px 5px 10px #000000); // ^
        }
    }
    .letters{
        position: absolute;
        z-index: 99;
        display: flex;
        span{
            font-size: 600%;
            letter-spacing: 0.2em;
            color: var(--letter-color);
            font-family: SPACE;
            opacity: 0.75;
        }
    }
}